header {
    background-color: blue;
    
}

header h1{
    color: white;
}

nav {
    background-color: yellow;
}

li {
    display: inline;
}
main {
    background-color: darkblue;
    color: white;
}
footer {
    background-color: green;
    color: white;
}